*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- PALETA -------------
dorado: #BEB265
onyx: #32353B
platinum: #E8E4E1
marron claro: #dbb078
marron mas fuerte: #D0995B
verde oscuro: #4D6257
--------------*/


body{
    padding-top: 3rem;
    width: 95%;
    height: 100%;
    margin: 2%;
    font-size: 1em;
    font-family: 'Nunito sans', sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: #BEB265;
    font-style: italic;
    font-weight: bold;
    text-decoration:underline;
    background-color: #E8E4E1;
}
h3{
    text-align: left;
    color: #dbb078;
}
h4{
    color: #32353B;
}
h5{
    color: #32353B;
    font-size: normal;
}
p{
    color: #4D6257;
}
.explicativo{
    text-align: justify;
    line-height: 2rem;
}


/* --------------- NAV ---------------*/

nav{
    position: fixed;
    top: 0;
    left: 0.5rem;
    width: 100%;
    background-color: white;
    z-index: 1;
}
nav ul {
    list-style: none;
    display: inline;
    padding: 1rem;
}
nav ul li{
    display: inline-block;
    padding: 0.5rem;
}
nav a{
    text-decoration: none;
    color: #32353B;
    font-weight: bolder;
}
nav ul li ul li:hover{
    background-color: #dbb078;
}

.rrss{
    width: 100%;
}
.rrss ul{
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    z-index: 2;
}
.rrss li{
    list-style: none;
    display: inline-block;
    padding: 0.5rem;
}

/* ------------------ INDEX ----------------*/

.logoPrincipal{
    width: 10vw;
    position: absolute;
    left: 45vw;
    top: 20vh;
}

.p1{
    position: absolute;
    left: 30vw;
    top: 25vh;
    color: white;
    font-size: 2em;
    font-weight: bolder;
}
.p2{
    position: absolute;
    left: 60vw;
    top: 25vh;
    color: white;
    font-size: 2em;
    font-weight: bolder;
}
.tituloPrincipal{
    color: white;
    position: absolute;
    left: 21vw;
    top: 47vh;
    font-size: 7em;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}
.p3{
    position: absolute;
    left: 34vw;
    top: 82vh;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.5rem;
}
.p4{
    position: absolute;
    left: 17vw;
    top: 88vh;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.tabla{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
    "etapa0 etapa1 etapa2 etapa3";
    grid-template-rows: 10fr;
    grid-template-columns: repeat(4, 1fr);
    align-content: stretch;
    justify-content: center;
}

td img{
    width: 100%;
    height: auto;
}

.etapa0{
    grid-area: etapa0;
}
.etapa1{
    grid-area: etapa1;
}
.etapa2{
    grid-area: etapa2;
}
.etapa3{
    grid-area: etapa3;
}


th{
    background-color: #E8E4E1;
    height: 2.5rem;
}
.tdSubtitulo{
    padding: 1em;
    height: 4rem;
    text-align: center;
    color: #32353B;
    font-weight: bolder;
}
.tdLista{
    padding: 2em;
    height: 8rem;
    text-align: justify;
    list-style-position: inside;
    color: #4D6257;
    font-size: 0.8em;
}

/* ------------------ FOOTER --------------------*/

#contacto{
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-areas:
    "formulario datos"
    "derechos derechos";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
}
.cajaFormulario{
    width: 100%;
    height: 100%;
    font-size: normal;
    border: groove #4D6257 0.5rem;
    grid-area: formulario;
    padding: 1vh;
}
.datos{
    width: 100%;
    height: 100%;
    grid-area: datos;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#BEB265, #dbb078, #D0995B);
    border: groove #4D6257 0.5rem;
}
.derechos{
    width: 100%;
    height: auto;
    grid-area: derechos;
}

fieldset{
    border: none;
}

.paraRellenar{
    width: 20vw;
}

label{
    color: #32353B;
}
label a{
    font-weight: bolder;
    color: #BEB265;
}
textarea{
    width: 25rem;
}

/* ------------------- NOSOTROS ---------------*/

.nosotros{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
    "titulo titulo"
    "video nosotros";
}
.titulo{
    grid-area: titulo;
}
.video{
    grid-area: video;
}
.textoNosotros{
    grid-area: nosotros;
    text-align: justify;
    align-self: center;
}


/*------------------- PRODUCTOS ------------------*/

.productos{
    display: flex;
    flex-flow: column nowrap;
}
.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}
.scale:hover{
    transition: all 1s;
    transform: scale(1.05);
    text-decoration: underline solid;
}

/* ----------------- Media Queries ------------------ */
