footer{
    font-size: 1rem;
    div.row{
        div{
            padding: 0;
            .datos{
                width: 100%;
                height: 100%;
                padding: 1em;
                background-image: linear-gradient($dorado, $marron_c, $marron_f);
                border: groove $verde_o 0.5rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                iframe{
                    width: auto;
                    height: 40vh;
                }
                div.rrss{
                    a{
                        padding: 2vh;
                    }
                }
            }
            .cajaFormulario{
                width: 100%;
                height: 100%;
                border: groove $verde_o 0.5rem;
                padding: 1em;
                label{
                    color: $onyx;
                    a{
                        font-weight: bolder;
                        color: $dorado;
                    }
                }
                div.form-check{
                    padding-left: 2rem;
                }
            }
        }
    }
}